{% extends 'template.html' %}

{% block title %}
    <title>:: DEV :: Coinweb Blockexplorer</title>
{% endblock %}

{% block header %}
    <!--Navigation dropdowns section-->
            <!--Information dropdown-->
            <ul id="data-dropdown-data" class="dropdown-content black">
                <!--Assets-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">storage</i>Assets</a>
                </li>
                <!--Bets-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">star_rate</i>Bets</a>
                </li>
                <!--Blocks-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">link</i>Blocks</a>
                </li>
                <!--Broadcasts-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">language</i>Broadcasts</a>
                </li>
                <!--Burns-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">whatshot</i>Burns</a>
                </li>
                <!--Dividends-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">description</i>Dividends</a>
                </li>
                <!--Issuances-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">receipt</i>Issuances</a>
                </li>
                <!--Markets-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">import_export</i>Markets</a>
                </li>
                <!--Mempool-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">access_time</i>Mempool</a>
                </li>
                <!--Orders-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">library_books</i>Orders</a>
                </li>
                <!--Sends-->
                <li>
                    <a href="#" class="white-text"><i class="material-icons left">send</i>Sends</a>
                </li>
            </ul>
            <!--Navigation bar section-->
            <nav class="black">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">
                        <picture>
                            <img id="img-logo" src="{{ url_for('static', filename='img/coinweb-logo-small.svg') }}">
                        </picture>
                    </a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down navbar-content">
                        <!--Information-->
                        <li>
                            <a href="#!" class="dropdown-trigger" data-target="data-dropdown-data"><i class="material-icons left white-text">data_usage</i>Information<i class="material-icons right white-text">arrow_drop_down</i></a>
                        </li>
                        <!--API-->
                        <li>
                            <a href="#"><i class="material-icons left">extension</i>API</a>
                        </li>
                        <!--Status-->
                        <li>
                            <a href="#"><i class="material-icons left">trending_up</i>Status</a>
                        </li>
                        <!--Wallets-->
                        <li>
                            <a href="#"><i class="material-icons left">account_balance_wallet</i>Wallets</a>
                        </li>
                        <!--About-->
                        <li>
                            <a href="#"><i class="material-icons left">info</i>About</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--Mobile navigation section-->
            <ul class="sidenav collapsible black" id="mobile-nav">
                <!--Data-->
                <li>
                    <a href="#" class="collapsible-header white-text"><i class="material-icons left white-text">data_usage</i>Information<i class="material-icons right white-text" id="info-collapsible-list">arrow_drop_down</i></a>
                    <div class="collapsible-body black">
                        <ul>
                            <!--Assets-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">storage</i>Assets</a></li>
                            <!--Bets-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">star_rate</i>Bets</a></li>
                            <!--Blocks-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">link</i>Blocks</a></li>
                            <!--Broadcasts-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">language</i>Broadcasts</a></li>
                            <!--Burns-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">whatshot</i>Burns</a></li>
                            <!--Dividends-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">description</i>Dividends</a></li>
                            <!--Issuances-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">receipt</i>Issuances</a></li>
                            <!--Markets-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">import_export</i>Markets</a></li>
                            <!--Mempool-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">access_time</i>Mempool</a></li>
                            <!--Orders-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">library_books</i>Orders</a></li>
                            <!--Sends-->
                            <li><a href="#" class="white-text"><i class="material-icons left white-text">send</i>Sends</a></li>
                        </ul>
                    </div>
                </li>
                <!--API-->
                <li>
                    <a href="#" class="collapsible-header white-text"><i class="material-icons left white-text">extension</i>API</a>
                </li>
                <!--Status-->
                <li>
                    <a href="#" class="collapsible-header white-text"><i class="material-icons left white-text">trending_up</i>Status</a>
                </li>
                <!--Wallets-->
                <li>
                    <a href="#" class="collapsible-header white-text"><i class="material-icons left white-text">account_balance_wallet</i>Wallets</a>
                </li>
                <!--About-->
                <li>
                    <a href="#" class="collapsible-header white-text"><i class="material-icons left white-text">info</i>About</a>
                </li>
</ul>
{% endblock %}