{% extends 'template.html' %}

{% block title %}
<title>Issuances :: Coinweb Block Explorer</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row center">
        <div class="col s12">
            <h1 class="header">Issuances</h1>
        </div>
        <!--Issuances-->
        <div class="col s12">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>
                        <i class="material-icons left">storage</i>
                        Issuances
                        <span class="badge">72,000 results</span>
                    </h5>
                </li>
                <li class="collection-item">
                    <table class="highlight" id="issuances">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Block</th>
                            <th>Time</th>
                            <th>Asset</th>
                            <th>Quantity</th>
                            <th>Locked</th>
                            <th>Transfer</th>
                            <th>Fee</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </li>
                <li class="collection-item">
                    <ul class="pagination center-align">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
//add .format function
String.prototype.format = function () {
        var args = [].slice.call(arguments);
        return this.replace(/(\{\d+\})/g, function (a){
            return args[+(a.substr(1,a.length-2))||0];
        });
};


var per_page=10;
//request to the server
    $.ajax({
        url:'/issuancesAll',
        type: 'POST',
        contentType: 'application/json;charset=UTF-8',
        data:JSON.stringify({'per_page':10},null,'\t'),
        success: function(response) {
            response=JSON.parse(response);
            var default_string="<td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td><td>{7}</td>";
            var my_table=$("#issuances").find('tbody')
            response.slice(0,per_page).forEach(function(issuance,i,response){
                    my_table.append($('<tr>')
                .append(default_string.format(i+1,issuance['block_index'],'?',issuance['asset'],(issuance['quantity']/100000000).toFixed(9),!!issuance['locked'],!!issuance['transfer'],(issuance['fee_paid']/100000000).toFixed(9)))
                    );
            })
        }
    })

</script>

{% endblock %}